Ключи для запуска программы через командную строку:
-h, --help            show this help message and exit
-d DISTANCE, --distance DISTANCE
         Choose distance metric: 'cosine', 'jaccard', 'dice', 'cityblock'
-m METHOD, --method METHOD
         Choose clustering method: 'single', 'complete','average', 'weighted'



Для использования программы по построению таблицы совстречаемости слов (terms_occurence_table.py) необходимо наличие следующих библиотек:
1. csv
	необходима для работы с csv файлами
2. time
	необходима для контроля за временем работы программы

	
Для использования программы по расчету близости векторов слов (terms_distance_table.py) необходимо наличие следующих библиотек:
1. csv
	необходима для работы с csv файлами
2. time
	необходима для контроля за временем работы программы
3. scipy.spatial.distance
	необходима для расчета близости векторов
	
	
Для использования программы по построению иерархической кластеризации (hierarchical_clustering.py) необходимо наличие следующих библиотек:
1. time
	необходима для контроля за временем работы программы
2. matplotlib.pyplot
	необходима для построения графика иерархической кластеризации
3. scipy.cluster
	необходима для построения иерархической кластеризации
4. matplotlib.backends.backend_pdf
	необходима для сохранения построенного графика в pdf формате
5. argparse
	необходима для работы из командной строки
скрипты:
1. terms_occurence_table
	необходим для предворительного создания таблицы совстречаемости слов
2. terms_distance_table
	необходим для предворительного создания таблицы близости слов
